name: Trigger Game Version Update

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger update-game-versions workflow in cosmic-mod-manager
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.UPDATE_TRIGGER_TOKEN }}" \
            https://api.github.com/repos/PuzzlesHQ/cosmic-mod-manager/dispatches \
            -d '{"event_type":"trigger_update_versions"}'
